<div class="zig-desktop-container">
  <div class="zig-header-container">
    <div class="zig-header-links">Download App</div>
    <div class="zig-header-divider">|</div>
    <div class="zig-header-links">Offers<span class="zig-header-label">New</span></div>
    <div class="zig-header-divider">|</div>
    <div class="zig-header-links">Contact Us</div>
    <div class="zig-header-divider">|</div>
    <div class="zig-header-links">India's Leading Online Tailor</div>
  </div>
  <div class="zig-nav-container">
    <div class="zig-nav-logo" style="padding:15px 0;">
      <img src="/img/Untitled-4.png" style="width:50px;float:left;"/>
      <!-- <div style="float:left;font-size:20px;font-weight:600;width:70px;color: #282c3f;line-height:40px;padding-left:10px;letter-spacing:1px;">Zigfo</div> -->
    </div>
    <div class="zig-nav-menu">
      <div class="zig-nav-menuitems">
        <div class="zig-nav-menuitem1">
          Men
          <div class="zig-nav-list1">
            <div style="max-width:980px;margin:0 auto;font-weight:400;">
              <div style="width:100%">
                <div style="color:rgb(238, 95, 115);font-size:14px;font-weight:600;line-height:40px;margin-bottom:8px;text-align:left;">Men's Clothing</div>
              </div>
              <div style="width:30%;float:left;font-size:12px;">
                <div class="zig-nav-list-item">Custom Shirts</div>
                <div class="zig-nav-list-item">
                  <span class="zig-nav-list-item-label">Custom Suits</span>
                  <span class="zig-header-label coming-soon">Coming Soon</span>
                </div>
              </div>
              <div style="width:30%;float:left;font-size:12px;">
                <div class="zig-nav-list-item">
                  <span class="zig-nav-list-item-label">Custom 3Piece Suits</span>
                  <span class="zig-header-label coming-soon">Coming Soon</span>
                </div>
                <div class="zig-nav-list-item">
                  <span class="zig-nav-list-item-label">Custom Vests</span>
                  <span class="zig-header-label coming-soon">Coming Soon</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="zig-nav-menuitem2">
          Women
          <div class="zig-nav-list2">
          </div>
        </div>
        <div class="zig-nav-menuitem3">
          Fabrics
          <div class="zig-nav-list3">
          </div>
        </div>
      </div>
    </div>
    <div class="zig-nav-search">
      <input type="text" class="zig-query" placeholder="Search"/>
      <a class="zig-query-submit">
        <i class="material-icons">search</i>
      </a>
    </div>
    <div class="zig-nav-actions">
      <div class="zig-action-user">
        <div style="float:left;">
          <i class="material-icons">face</i>
        </div>
        <div style="float:left;">
          <i class="material-icons">arrow_drop_down</i>
        </div>
        <div class="zig-userActions">
          <div class="zig-userActions-arrow"></div>
          <div class="zig-user-content">
            <div class="zig-userActions-section1">
              <div class="zig-userActions-email">{{ ProfileService.profile.email_id}}</div>
              <div class="zig-userActions-mobile">{{ ProfileService.profile.mobileno }}</div>
            </div>
            <div class="zig-userActions-section2">
              <div class="zig-userActions-item">My Orders</div>
              <div class="zig-userActions-item">Favorites</div>
              <div class="zig-userActions-item">
                ZIGFO Credits
                <span class="zig-header-label">{{ ProfileService.credits | getTotalCredits }}</span>
              </div>
            </div>
            <div class="zig-userActions-section3">
              <div class="zig-userActions-item">Saved Measurements</div>
              <div class="zig-userActions-item">Saved Cards</div>
              <div class="zig-userActions-item">Saved Addresses</div>
            </div>
            <div class="zig-userActions-section4">
              <div class="zig-userActions-item">Edit Profile</div>
              <div class="zig-userActions-item" ng-click="logOut()">Logout</div>
            </div>
          </div>
        </div>
      </div>
      <div class="zig-action-cart">
        <div style="float:left;">
          <i class="material-icons">shopping_basket</i>
        </div>
        <div style="float:left;line-height:30px;padding:0 5px;font-weight:600;">Bag</div>
      </div>
    </div>
  </div>
</div>
<div ui-view style="width:100%;" class="ui-view-container"></div>
<!-- <div style="width:100%;border-top:1px solid #e2e2e2;height:200px;padding: 0px 8%;border-bottom:1px solid #e2e2e2;background-color:#fff;"> -->
  <div class="footer-container">
    <div class="footerIcon-container">
      <i class="securePayment footerIcon"></i>
    </div>
    <div class="footerHeader-container">
      100% SECURE PAYMENTS
    </div>
    <div class="footerDesc-container">
      All major credit and debit cards accepted
    </div>
  </div>
  <div class="footer-container">
    <div class="footerIcon-container">
      <i class="trustPay footerIcon"></i>
    </div>
    <div class="footerHeader-container">
      TRUSTPAY
    </div>
    <div class="footerDesc-container">
      100% payment protection. Easy Return policy.
    </div>
  </div>
  <div class="footer-container">
    <div class="footerIcon-container">
      <i class="helpCenter footerIcon"></i>
    </div>
    <div class="footerHeader-container">
      HELPCENTER
    </div>
    <div class="footerDesc-container">
      Got a question? Look no further. Browse our FAQs or submit your query here.
    </div>
  </div>
  <div class="footer-container" style="border-right:1px solid #e2e2e2;">
    <div class="footerIcon-container">
      <i class="shopontheGo footerIcon"></i>
    </div>
    <div class="footerHeader-container">
      SHOP ON THE GO
    </div>
    <div class="footerDesc-container">
      Download the app and get exciting app only offers at your fingertips
    </div>
  </div>
</div>
<div style="width:100%;height:300px;border-bottom:1px solid #e2e2e2;padding:50px 8%;background-color:#fff;">
  <div style="width:15%;float:left;height:100%;">
    <div style="font-size:14px;color:#5a5a5a;font-weight:400;">POLICY INFO</div>
      <ul style="font-size:12px;color:#a4a3a3;">
        <li>Privacy Policy</li>
        <li>Terms of Sale</li>
        <li>Terms of Use</li>
        <li>T&C</li>
        <li>Return Policy</li>
      </ul>
    </div>
    <div style="width:15%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">USEFUL LINKS</div>
      <ul style="font-size:12px;color:#a4a3a3;">
        <li>FAQs</li>
        <li>Shipping</li>
        <li>Contact Us</li>
        <li>Cancellation</li>
        <li>Track Orders</li>
      </ul>
    </div>
    <div style="width:40%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">EXPERIENCE ZIGFO APP ON MOBILE</div>
      <div style="width:100%;height:75px;padding:15px;">
        <i class="downloadApp1Icon footerIcon"></i>
        <i class="downloadApp2Icon footerIcon"></i>
        <i class="downloadApp3Icon footerIcon"></i>
      </div>
      <div style="width:40%;height:100px;float:left;text-align:center;">
        <i class="originalityIcon footerIcon"></i>
      </div>
      <div style="width:60%;height:100px;float:left;">
        <div style="font-size:18px;line-height:35px;">Fast, Simple & Delightful</div>
        <div style="color:#a4a3a3;">All it takes is 30 seconds to Download</div>
      </div>
    </div>
    <div style="width:30%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">ABOUT ZIGFO</div>
      <div style="font-size:11px;color:#a4a3a3;">
        Our shirts are made with the single most essential ingredient ever, which is love. With this comes the finest quality of shirting and top workmanship from our tailors as well as heartfelt services from our teams. Our shirts are made with the most exclusive collars and cuffs with thick and soft finishes and exclusively edged seams. We are able to produce any style of collar, cuff, front placket, back, pocket, bottom styles possible. The list is endless! Monograms/Initials are possible anywhere on the shirt, depending on your choice. Marvel at our range of 100 % cotton fabrics, made of the highest thread counts and weaves. There is so much to choose from!
      </div>
    </div>
  </div>
  <div style="width:100%;height:128px;padding:25px 8%;background-color:#fff;border-bottom:1px solid #e2e2e2;">
    <div style="width:50%;height:100%;float:left;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">PAYMENT</div>
      <div style="width:100%;height:60px;line-height:60px;">
        <i class="visaPayment footerIcon"></i>
        <i class="mastercardPayment footerIcon"></i>
        <i class="cashondelivery footerIcon"></i>
        <i class="netbanking footerIcon"></i>
      </div>
    </div>
    <div style="width:50%;height:100%;float:left;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">CONNECT</div>
      <div style="width:100%;height:60px;line-height:60px;">
        <i class="facebook footerIcon"></i>
        <i class="twitter footerIcon"></i>
        <i class="google footerIcon"></i>
        <i class="youtube footerIcon"></i>
        <i class="instagram footerIcon"></i>
        <i class="pintereset footerIcon"></i>
      </div>
    </div>
  </div>
  <div style="width:100%;height:40px;line-height:40px;padding:0 8%;">
    <div style="width:50%;font-size:12px;float:left;text-align:left;">
      Have Issues? Contact Us
    </div>
    <div style="width:50%;font-size:11px;float:left;text-align:right;">
      Copyright © 2016, Raee Creations Private Limited. All Rights Reserved
    </div>
  </div>
</div>
<!-- <div class="top-nav">
  <div class="sub-nav">
    <div class="sub-nav-container">
      <div class="sub-nav-menu-left">
        India's Leading Online Tailor | Use Coupon
        <span style="background-color:#fff;color:#f70;padding:2px 5px;">ZIG100</span>
        on first Order to get 100 off
      </div>
      <div class="sub-nav-menu-right">
        <span class="sub-nav-menu">Help<span>
        <span class="sub-nav-menu">Track Order<span>
        <span class="sub-nav-menu">Download App<span>
      </div>
    </div>
  </div>
  <div class="main-nav">
    <div class="main-nav-container">
      <div class="left-logo-section"></div>
      <div class="center-search-section">
        <div class="search-container">
          <div class="search-input">
            <input type="text" placeholder="Search Products & Brands" class="search-input-text"/>
          </div>
          <div class="search-btn">
            <div class="search-icon">
              <i class="material-icons" style="font-size:18px;line-height:35px;">search</i>
            </div>
            <div class="search-label">
              Search
            </div>
          </div>
        </div>
      </div>
      <div class="right-fab-section">
        <div class="cart-fab-section">
          <div class="cart-fab-lbl">
            Cart
          </div>
          <div class="cart-fab-icon">
            <i class="material-icons" style="line-height:65px;">shopping_cart</i>
          </div>
        </div>
        <div class="profile-fab-section">
          <div class="profile-fab-lbl" ng-if="!loggedIn" ng-click="OpenLoginModal()">
            <span>Log In</span>
          </div>
          <div class="profile-fab-lbl" ng-if="loggedIn">
            <span>{{ProfileService.profile.first_name}}</span>
          </div>
          <div class="profile-fab-dropdown">
            <ul class="dropdown-list">
              <li class="dropdown-list-item" ui-sref="app.profile">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">perm_identity</i></div>
                <div class="dropdown-item-lbl">Your Account</div>
              </li>
              <li class="dropdown-list-item" ui-sref="app.measurements">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">all_inclusive</i></div>
                <div class="dropdown-item-lbl">Measurement Profile</div>
              </li>
              <li class="dropdown-list-item" class="dropdown-list-item" ui-sref="main.design">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">favorite_border</i></div>
                <div class="dropdown-item-lbl">Favorites</div>
              </li>
              <li class="dropdown-list-item" ui-sref="app.credits">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">account_balance_wallet</i></div>
                <div class="dropdown-item-lbl">
                  <div style="width:66%;float:left;">ZigFo Credits</div>
                  <div style="width:33%;float:left;text-align:right;">{{ProfileService.credits | getTotalCredits}}</div>
                </div>
              </li>
            </ul>
            <div style="width:100%;height:50px;padding:10px 0px;text-align:center;font-size:11px;">
              <ul class="dropdown-list" style="border:none;">
                <li class="dropdown-list-item" ng-click="logOut()">
                  <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">exit_to_app</i></div>
                  <div class="dropdown-item-lbl">Log Out</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="profile-fab-icon">
            <i class="material-icons" style="line-height:65px;">account_circle</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-container">
  <!-- <div class="ui-view-container"> -->
  <div ui-view style="min-height:660px;"></div>
  <!-- </div> -->
  <!-- <div style="width:100%;border-top:1px solid #e2e2e2;height:200px;padding: 0px 8%;border-bottom:1px solid #e2e2e2;background-color:#fff;"> -->
    <div class="footer-container">
      <div class="footerIcon-container">
        <i class="securePayment footerIcon"></i>
      </div>
      <div class="footerHeader-container">
        100% SECURE PAYMENTS
      </div>
      <div class="footerDesc-container">
        All major credit and debit cards accepted
      </div>
    </div>
    <div class="footer-container">
      <div class="footerIcon-container">
        <i class="trustPay footerIcon"></i>
      </div>
      <div class="footerHeader-container">
        TRUSTPAY
      </div>
      <div class="footerDesc-container">
        100% payment protection. Easy Return policy.
      </div>
    </div>
    <div class="footer-container">
      <div class="footerIcon-container">
        <i class="helpCenter footerIcon"></i>
      </div>
      <div class="footerHeader-container">
        HELPCENTER
      </div>
      <div class="footerDesc-container">
        Got a question? Look no further. Browse our FAQs or submit your query here.
      </div>
    </div>
    <div class="footer-container" style="border-right:1px solid #e2e2e2;">
      <div class="footerIcon-container">
        <i class="shopontheGo footerIcon"></i>
      </div>
      <div class="footerHeader-container">
        SHOP ON THE GO
      </div>
      <div class="footerDesc-container">
        Download the app and get exciting app only offers at your fingertips
      </div>
    </div>
  </div>
  <div style="width:100%;height:300px;border-bottom:1px solid #e2e2e2;padding:50px 8%;background-color:#fff;">
    <div style="width:15%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">POLICY INFO</div>
      <ul style="font-size:12px;color:#a4a3a3;">
        <li>Privacy Policy</li>
        <li>Terms of Sale</li>
        <li>Terms of Use</li>
        <li>T&C</li>
        <li>Return Policy</li>
      </ul>
    </div>
    <div style="width:15%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">USEFUL LINKS</div>
      <ul style="font-size:12px;color:#a4a3a3;">
        <li>FAQs</li>
        <li>Shipping</li>
        <li>Contact Us</li>
        <li>Cancellation</li>
        <li>Track Orders</li>
      </ul>
    </div>
    <div style="width:40%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">EXPERIENCE ZIGFO APP ON MOBILE</div>
      <div style="width:100%;height:75px;padding:15px;">
        <i class="downloadApp1Icon footerIcon"></i>
        <i class="downloadApp2Icon footerIcon"></i>
        <i class="downloadApp3Icon footerIcon"></i>
      </div>
      <div style="width:40%;height:100px;float:left;text-align:center;">
        <i class="originalityIcon footerIcon"></i>
      </div>
      <div style="width:60%;height:100px;float:left;">
        <div style="font-size:18px;line-height:35px;">Fast, Simple & Delightful</div>
        <div style="color:#a4a3a3;">All it takes is 30 seconds to Download</div>
      </div>
    </div>
    <div style="width:30%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">ABOUT ZIGFO</div>
      <div style="font-size:11px;color:#a4a3a3;">
        Our shirts are made with the single most essential ingredient ever, which is love. With this comes the finest quality of shirting and top workmanship from our tailors as well as heartfelt services from our teams. Our shirts are made with the most exclusive collars and cuffs with thick and soft finishes and exclusively edged seams. We are able to produce any style of collar, cuff, front placket, back, pocket, bottom styles possible. The list is endless! Monograms/Initials are possible anywhere on the shirt, depending on your choice. Marvel at our range of 100 % cotton fabrics, made of the highest thread counts and weaves. There is so much to choose from!
      </div>
    </div>
  </div>
  <div style="width:100%;height:128px;padding:25px 8%;background-color:#fff;border-bottom:1px solid #e2e2e2;">
    <div style="width:50%;height:100%;float:left;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">PAYMENT</div>
      <div style="width:100%;height:60px;line-height:60px;">
        <i class="visaPayment footerIcon"></i>
        <i class="mastercardPayment footerIcon"></i>
        <i class="cashondelivery footerIcon"></i>
        <i class="netbanking footerIcon"></i>
      </div>
    </div>
    <div style="width:50%;height:100%;float:left;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">CONNECT</div>
      <div style="width:100%;height:60px;line-height:60px;">
        <i class="facebook footerIcon"></i>
        <i class="twitter footerIcon"></i>
        <i class="google footerIcon"></i>
        <i class="youtube footerIcon"></i>
        <i class="instagram footerIcon"></i>
        <i class="pintereset footerIcon"></i>
      </div>
    </div>
  </div>
  <div style="width:100%;height:40px;line-height:40px;padding:0 8%;">
    <div style="width:50%;font-size:12px;float:left;text-align:left;">
      Have Issues? Contact Us
    </div>
    <div style="width:50%;font-size:11px;float:left;text-align:right;">
      Copyright © 2016, Raee Creations Private Limited. All Rights Reserved
    </div>
  </div>
</div>
<div class="ui small modal measurements">
  <div style="width:40%;height:100%;float:left;background-color:#2874f0;">
    <div style="width:100%;height:80%;padding:25px 15px;">
      <div style="font-size:22px;color:#fff;line-height:50px;font-weight:400;">
        Measurements
      </div>
      <div style="font-size:15px;color:#fff;line-height:23px;font-weight:400;">
        Create your Measurements profile, Easy checkout Orders at one click, Edit Current and Add new profiles
      </div>
      <div style="padding:50px 10px;font-size:12px;color:#fff;font-weight:400;line-height:18px;">
        {{MeasurementsService.current_tip}}
      </div>
    </div>
    <div style="width:100%;height:20%;overflow:hidden;">
      <img src="/img/measurement.png"/>
    </div>
  </div>
  <div style="width:60%;height:100%;float:left;padding:50px;">
    <div style="height:55px;width:100%;">
      <md-input-container class="md-block" flex-gt-sm style="margin:0;width:100%;padding:0 20px;float:left;height:55px;">
        <label class="custom-label">Profile Name</label>
        <input ng-model="MeasurementsService.measurements.name" type="text" style="margin:0;" ng-focus="MeasurementsService.changeTips(0)">
      </md-input-container>
    </div>
    <div style="height:40px;width:100%;margin-bottom:30px;">
      <div style="width:30%;padding:0 20px;line-height:40px;float:left;">
        Units
      </div>
      <div style="width:70%;padding:0 20px;line-height:40px;float:left;">
        <div style="width:33px;line-height:40px;float:left;cursor:pointer;" ng-click="MeasurementsService.changeUnits(true, false)">
          <i class="material-icons" style="font-size:20px;line-height:42px;" ng-if="MeasurementsService.measurements.cms">radio_button_checked</i>
          <i class="material-icons" style="font-size:20px;line-height:42px;" ng-if="!MeasurementsService.measurements.cms">radio_button_unchecked</i>
        </div>
        <div style="width:40px;line-height:40px;float:left;">Cm</div>
        <div style="width:33px;line-height:40px;float:left;cursor:pointer;" ng-click="MeasurementsService.changeUnits(false, true)">
          <i class="material-icons" style="font-size:20px;line-height:42px;" ng-if="MeasurementsService.measurements.inches">radio_button_checked</i>
          <i class="material-icons" style="font-size:20px;line-height:42px;" ng-if="!MeasurementsService.measurements.inches">radio_button_unchecked</i>
        </div>
        <div style="width:40px;line-height:40px;float:left;">Inch</div>
      </div>
    </div>
    <div style="height:80px;width:100%;">
      <md-input-container class="md-block" flex-gt-sm style="margin:0;width:50%;padding:0 20px;float:left;">
        <label class="custom-label">Neck</label>
        <input ng-model="MeasurementsService.measurements.neck" type="number" step="1" ng-focus="MeasurementsService.changeTips(1)">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm style="margin:0;width:50%;padding:0 20px;float:left;">
        <label class="custom-label">Chest</label>
        <input ng-model="MeasurementsService.measurements.chest" type="number" step="1" ng-focus="MeasurementsService.changeTips(2)">
      </md-input-container>
    </div>
    <div style="height:80px;width:100%;">
      <md-input-container class="md-block" flex-gt-sm style="margin:0;width:50%;padding:0 20px;float:left;">
        <label class="custom-label">Waist</label>
        <input ng-model="MeasurementsService.measurements.waist" type="number" step="1" ng-focus="MeasurementsService.changeTips(3)">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm style="margin:0;width:50%;padding:0 20px;float:left;">
        <label class="custom-label">Hip</label>
        <input ng-model="MeasurementsService.measurements.hip" type="number" step="1" ng-focus="MeasurementsService.changeTips(4)">
      </md-input-container>
    </div>
    <div style="height:80px;width:100%;">
      <md-input-container class="md-block" flex-gt-sm style="margin:0;width:50%;padding:0 20px;float:left;">
        <label class="custom-label">Length</label>
        <input ng-model="MeasurementsService.measurements.length" type="number" step="1" ng-focus="MeasurementsService.changeTips(5)">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm style="margin:0;width:50%;padding:0 20px;float:left;">
        <label class="custom-label">Shoulder</label>
        <input ng-model="MeasurementsService.measurements.shoulder" type="number" step="1" ng-focus="MeasurementsService.changeTips(6)">
      </md-input-container>
    </div>
    <div style="height:80px;width:100%;">
      <md-input-container class="md-block" flex-gt-sm style="margin:0;width:50%;padding:0 20px;float:left;">
        <label class="custom-label">Sleeve</label>
        <input ng-model="MeasurementsService.measurements.sleeve" type="number" step="1" ng-focus="MeasurementsService.changeTips(7)">
      </md-input-container>
      <div class="submit-btn" ng-click="MeasurementsService.updateMeasurements()" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);">
        SUBMIT
      </div>
    </div>
  </div>
</div> -->
