<div class="top-nav">
  <div class="sub-nav">
    <div class="sub-nav-container">
      <div class="sub-nav-menu-left">
        India's Leading Online Tailor | Use Coupon
        <span style="background-color:#fff;color:#f70;padding:2px 5px;">ZIG100</span>
        on first Order to get 100 off
      </div>
      <div class="sub-nav-menu-right">
        <span class="sub-nav-menu">Help<span>
        <span class="sub-nav-menu">Track Order<span>
        <span class="sub-nav-menu">Download App<span>
      </div>
    </div>
  </div>
  <div class="main-nav">
    <div class="main-nav-container">
      <div class="left-logo-section"></div>
      <div class="center-search-section"></div>
      <div class="right-fab-section">
        <div class="cart-fab-section">
          <div class="cart-fab-lbl">
            Cart
          </div>
          <div class="cart-fab-icon">
            <i class="material-icons" style="line-height:65px;">shopping_cart</i>
          </div>
        </div>
        <div class="profile-fab-section">
          <div class="profile-fab-lbl" ng-if="!loggedIn" ng-click="OpenLoginModal()">
            <span>Log In</span>
          </div>
          <div class="profile-fab-lbl" ng-if="loggedIn">
            <span>{{ProfileService.username}}</span>
          </div>
          <div class="profile-fab-dropdown">
            <ul class="dropdown-list">
              <li class="dropdown-list-item" ui-sref="app.profile">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">perm_identity</i></div>
                <div class="dropdown-item-lbl">Your Account</div>
              </li>
              <li class="dropdown-list-item" ui-sref="app.measurements">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">all_inclusive</i></div>
                <div class="dropdown-item-lbl">Measurement Profile</div>
              </li>
              <li class="dropdown-list-item" class="dropdown-list-item" ui-sref="main.design">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">favorite_border</i></div>
                <div class="dropdown-item-lbl">Favorites</div>
              </li>
              <li class="dropdown-list-item" ui-sref="app.credits">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">account_balance_wallet</i></div>
                <div class="dropdown-item-lbl">
                  <div style="width:66%;float:left;">ZigFo Credits</div>
                  <div style="width:33%;float:left;text-align:right;">{{ProfileService.credits | getTotalCredits}}</div>
                </div>
              </li>
            </ul>
            <div style="width:100%;height:50px;padding:10px 0px;text-align:center;font-size:11px;">
              <ul class="dropdown-list" style="border:none;">
                <li class="dropdown-list-item" ng-click="logOut()">
                  <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">exit_to_app</i></div>
                  <div class="dropdown-item-lbl">Log Out</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="profile-fab-icon">
            <i class="material-icons" style="line-height:65px;">account_circle</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-container">
  <div class="fab-categories">
    <ul class="fab-categories-list">
      <div class="fab-list-header">TOP CATEGORIES</div>
      <li class="fab-categories-list">
        <div class="fab-categories-icon" style="overflow:hidden;">
          <img src="img/custom_shirts_logo.jpg" style="width:100%;height:100%;"/>
        </div>
        <div class="fab-categories-label">Custom Shirts</div>
      </li>
      <li class="fab-categories-list">
        <div class="fab-categories-icon" style="overflow:hidden;">
          <img src="img/womenswear_logo.jpg" style="width:100%;height:100%;"/>
        </div>
        <div class="fab-categories-label">Womenswear</div>
      </li>
      <li class="fab-categories-list">
        <div class="fab-categories-icon" style="overflow:hidden;">
          <img src="img/fabric_logo.jpg" style="width:100%;height:100%;"/>
        </div>
        <div class="fab-categories-label">Fabrics</div>
      </li>
    </ul>
    <ul class="fab-categories-list-2">
      <div class="fab-list-header-2">MORE CATEGORIES</div>
      <li class="fab-categories-list-2">
        <div class="fab-categories-label-2">Men's Fashion</div>
      </li>
      <li class="fab-categories-list-2">
        <div class="fab-categories-label-2">Women's Fashion</div>
      </li>
      <li class="fab-categories-list-2">
        <div class="fab-categories-label-2">Suits</div>
      </li>
      <li class="fab-categories-list-2">
        <div class="fab-categories-label-2">Accessories</div>
      </li>
    </ul>
  </div>
  <div class="ui-view-container">
    <div ui-view></div>
  </div>
</div>
