<div class="zig-desktop-container">
  <div class="zig-header-container">
    <div class="zig-header-links">Download App</div>
    <div class="zig-header-divider">|</div>
    <div class="zig-header-links">Offers<span class="zig-header-label">New</span></div>
    <div class="zig-header-divider">|</div>
    <div class="zig-header-links">Contact Us</div>
    <div class="zig-header-divider">|</div>
    <div class="zig-header-links">India's Leading Online Tailor</div>
  </div>
  <div class="zig-nav-container">
    <div class="zig-nav-logo"></div>
    <div class="zig-nav-menu">
      <div class="zig-nav-menuitems">
        <div class="zig-nav-menuitem">Men</div>
        <div class="zig-nav-menuitem">Women</div>
        <div class="zig-nav-menuitem">Fabrics</div>
      </div>
    </div>
    <div class="zig-nav-search">
      <input type="text" class="zig-query" placeholder="Search"/>
      <a class="zig-query-submit">
        <i class="material-icons">search</i>
      </a>
    </div>
    <div class="zig-nav-actions">
      <div class="zig-action-user">
        <div style="float:left;">
          <i class="material-icons">face</i>
        </div>
        <div style="float:left;">
          <i class="material-icons">arrow_drop_down</i>
        </div>
        <div class="zig-userActions">
          <div class="zig-userActions-arrow"></div>
          <div class="zig-userActions-content">
            <div style="font-weight:600;font-size:14px;color:#282c3f;line-height:33px;">Your Account</div>
            <div style="font-weight:400;font-size:12px;color:#282c3f;line-height:27px;">Access Account and manage orders</div>
            <div style="width:100%;padding:7px;">
              <div class="zig-user-btn" ui-sref="main.signup">SIGNUP</div>
              <div class="zig-user-btn" ui-sref="main.login">LOGIN</div>
            </div>
          </div>
        </div>
      </div>
      <div class="zig-action-cart">
        <div style="float:left;">
          <i class="material-icons">shopping_basket</i>
        </div>
        <div style="float:left;line-height:30px;padding:0 5px;font-weight:600;">Bag</div>
      </div>
    </div>
  </div>
</div>
<div ui-view style="width:100%;" class="ui-view-container"></div>
<!-- <div class="top-nav">
  <div class="sub-nav">
    <div class="sub-nav-container">
      <div class="sub-nav-menu-left">
        India's Leading Online Tailor | Use Coupon
        <span style="background-color:#fff;color:#f70;padding:2px 5px;">ZIG100</span>
        on first Order to get 100 off
      </div>
      <div class="sub-nav-menu-right">
        <span class="sub-nav-menu">Help<span>
        <span class="sub-nav-menu">Track Order<span>
        <span class="sub-nav-menu">Download App<span>
      </div>
    </div>
  </div>
  <div class="main-nav">
    <div class="main-nav-container">
      <div class="left-logo-section"></div>
      <div class="center-search-section">
        <div class="search-container">
          <div class="search-input">
            <input type="text" placeholder="Search Products & Brands" class="search-input-text"/>
          </div>
          <div class="search-btn">
            <div class="search-icon">
              <i class="material-icons" style="font-size:18px;line-height:35px;">search</i>
            </div>
            <div class="search-label">
              Search
            </div>
          </div>
        </div>
      </div>
      <div class="right-fab-section">
        <div class="cart-fab-section">
          <div class="cart-fab-lbl">
            Cart
          </div>
          <div class="cart-fab-icon">
            <i class="material-icons" style="line-height:65px;">shopping_cart</i>
          </div>
        </div>
        <div class="profile-fab-section">
          <div class="profile-fab-lbl" ng-if="!loggedIn" ng-click="OpenLoginModal()">
            <span>Log In</span>
          </div>
          <div class="profile-fab-lbl" ng-if="loggedIn">
            <span>{{username}}</span>
          </div>
          <div class="profile-fab-dropdown">
            <ul class="dropdown-list">
              <li class="dropdown-list-item" ui-sref="app.profile">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">perm_identity</i></div>
                <div class="dropdown-item-lbl">Your Account</div>
              </li>
              <li class="dropdown-list-item" ui-sref="app.measurements">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">all_inclusive</i></div>
                <div class="dropdown-item-lbl">Measurement Profile</div>
              </li>
              <li class="dropdown-list-item" class="dropdown-list-item" ui-sref="main.design">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">favorite_border</i></div>
                <div class="dropdown-item-lbl">Favorites</div>
              </li>
              <li class="dropdown-list-item" ui-sref="app.credits">
                <div class="dropdown-item-icon"><i class="material-icons" style="line-height:33px;font-size:17px;">account_balance_wallet</i></div>
                <div class="dropdown-item-lbl">
                  <div style="width:66%;float:left;">ZigFo Credits</div>
                  <div style="width:33%;float:left;text-align:right;">{{zigfo_credits}}</div>
                </div>
            </ul>
            <div style="width:100%;height:50px;padding:10px 7px;text-align:center;font-size:11px;">
              If you are a new user
              <div style="width:100%;text-align:center;font-size:12px;">Register</div>
            </div>
          </div>
          <div class="profile-fab-icon">
            <i class="material-icons" style="line-height:65px;">account_circle</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-container">
  <div style="width:100%;height:600px;margin: 15px 4%;">
    <div class="ui-view-container">
      <div ui-view></div>
    </div>
  </div>

  <div style="width:100%;border-top:1px solid #e2e2e2;height:200px;padding: 0px 8%;border-bottom:1px solid #e2e2e2;background-color:#fff;">
    <div class="footer-container">
      <div class="footerIcon-container">
        <i class="securePayment footerIcon"></i>
      </div>
      <div class="footerHeader-container">
        100% SECURE PAYMENTS
      </div>
      <div class="footerDesc-container">
        All major credit and debit cards accepted
      </div>
    </div>
    <div class="footer-container">
      <div class="footerIcon-container">
        <i class="trustPay footerIcon"></i>
      </div>
      <div class="footerHeader-container">
        TRUSTPAY
      </div>
      <div class="footerDesc-container">
        100% payment protection. Easy Return policy.
      </div>
    </div>
    <div class="footer-container">
      <div class="footerIcon-container">
        <i class="helpCenter footerIcon"></i>
      </div>
      <div class="footerHeader-container">
        HELPCENTER
      </div>
      <div class="footerDesc-container">
        Got a question? Look no further. Browse our FAQs or submit your query here.
      </div>
    </div>
    <div class="footer-container" style="border-right:1px solid #e2e2e2;">
      <div class="footerIcon-container">
        <i class="shopontheGo footerIcon"></i>
      </div>
      <div class="footerHeader-container">
        SHOP ON THE GO
      </div>
      <div class="footerDesc-container">
        Download the app and get exciting app only offers at your fingertips
      </div>
    </div>
  </div>
  <div style="width:100%;height:300px;border-bottom:1px solid #e2e2e2;padding:50px 8%;background-color:#fff;">
    <div style="width:15%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">POLICY INFO</div>
      <ul style="font-size:12px;color:#a4a3a3;">
        <li>Privacy Policy</li>
        <li>Terms of Sale</li>
        <li>Terms of Use</li>
        <li>T&C</li>
        <li>Return Policy</li>
      </ul>
    </div>
    <div style="width:15%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">USEFUL LINKS</div>
      <ul style="font-size:12px;color:#a4a3a3;">
        <li>FAQs</li>
        <li>Shipping</li>
        <li>Contact Us</li>
        <li>Cancellation</li>
        <li>Track Orders</li>
      </ul>
    </div>
    <div style="width:40%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">EXPERIENCE ZIGFO APP ON MOBILE</div>
      <div style="width:100%;height:75px;padding:15px;">
        <i class="downloadApp1Icon footerIcon"></i>
        <i class="downloadApp2Icon footerIcon"></i>
        <i class="downloadApp3Icon footerIcon"></i>
      </div>
      <div style="width:40%;height:100px;float:left;text-align:center;">
        <i class="originalityIcon footerIcon"></i>
      </div>
      <div style="width:60%;height:100px;float:left;">
        <div style="font-size:18px;line-height:35px;">Fast, Simple & Delightful</div>
        <div style="color:#a4a3a3;">All it takes is 30 seconds to Download</div>
      </div>
    </div>
    <div style="width:30%;float:left;height:100%;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">ABOUT ZIGFO</div>
      <div style="font-size:11px;color:#a4a3a3;">
        Our shirts are made with the single most essential ingredient ever, which is love. With this comes the finest quality of shirting and top workmanship from our tailors as well as heartfelt services from our teams. Our shirts are made with the most exclusive collars and cuffs with thick and soft finishes and exclusively edged seams. We are able to produce any style of collar, cuff, front placket, back, pocket, bottom styles possible. The list is endless! Monograms/Initials are possible anywhere on the shirt, depending on your choice. Marvel at our range of 100 % cotton fabrics, made of the highest thread counts and weaves. There is so much to choose from!
      </div>
    </div>
  </div>
  <div style="width:100%;height:128px;padding:25px 8%;background-color:#fff;border-bottom:1px solid #e2e2e2;">
    <div style="width:50%;height:100%;float:left;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">PAYMENT</div>
      <div style="width:100%;height:60px;line-height:60px;">
        <i class="visaPayment footerIcon"></i>
        <i class="mastercardPayment footerIcon"></i>
        <i class="cashondelivery footerIcon"></i>
        <i class="netbanking footerIcon"></i>
      </div>
    </div>
    <div style="width:50%;height:100%;float:left;">
      <div style="font-size:14px;color:#5a5a5a;font-weight:400;">CONNECT</div>
      <div style="width:100%;height:60px;line-height:60px;">
        <i class="facebook footerIcon"></i>
        <i class="twitter footerIcon"></i>
        <i class="google footerIcon"></i>
        <i class="youtube footerIcon"></i>
        <i class="instagram footerIcon"></i>
        <i class="pintereset footerIcon"></i>
      </div>
    </div>
  </div>
  <div style="width:100%;height:40px;line-height:40px;padding:0 8%;">
    <div style="width:50%;font-size:12px;float:left;text-align:left;">
      Have Issues? Contact Us
    </div>
    <div style="width:50%;font-size:11px;float:left;text-align:right;">
      Copyright © 2016, Raee Creations Private Limited. All Rights Reserved
    </div>
  </div>
</div>
<div class="ui small modal passwordmodal">
  <div class="modal-header-section">
    <div class="sliding-middle-out active" style="width:125px;">
      Set Password
    </div>
  </div>
  <div class="modal-container">
      <md-input-container class="md-block" flex-gt-sm style="margin:0;">
        <label>New Password</label>
        <input ng-model="new_password" type="password">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm style="margin:0;">
        <label>Retype Password</label>
        <input ng-model="confirm_password" type="password">
      </md-input-container>
      <div style="width:100%;">
        <md-button class="md-raised md-primary" style="margin:0 auto;width:100%;background-color:#dd4b39;" ng-click="createPassword()">
          <i class="fa fa-lock"></i>
          <span style="padding:0 7px">Set Password</span>
        </md-button>
      </div>
  </div>
</div>
<div class="ui small modal loginmodal">
  <div class="modal-close-section">
    <i class="fa fa-times" aria-hidden="true" ng-click="CloseLoginModal()"></i>
  </div>
  <div class="modal-header-section">
    <div class="sliding-middle-out" ng-click="modalTab('login')" ng-class="{'active': login_active}">
      Login In
    </div>
    <div class="sliding-middle-out" ng-click="modalTab('signup')" ng-class="{'active': signup_active}">
      Sign Up
    </div>
  </div>
  <div class="modal-container" ng-show="login_active">
      <md-input-container class="md-block" flex-gt-sm style="margin:0;height:39px;">
        <label>Mobile Number or Email</label>
        <input ng-model="mobileno">
      </md-input-container>
      <div class="form-right-text" ng-click="changeLoginForm(true, false)" ng-show="loginWithPassword">
        Login with OTP?
      </div>
      <div class="form-right-text" ng-click="changeLoginForm(false, true)" ng-show="loginWithOtp">
        Login with Password?
      </div>
      <md-input-container class="md-block" flex-gt-sm style="margin:0;height:39px;" ng-show="loginWithPassword">
        <label>ZigFo Password</label>
        <input ng-model="password" type="password">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm style="margin:0;height:39px;" ng-show="loginWithOtp">
        <label>OTP</label>
        <input ng-model="otp" type="password">
      </md-input-container>
      <div style="width:100%;height:60px;">
        <md-checkbox ng-checked="!set_expiry" style="float:right;margin-right:50px;">
         Keep me Signed In
        </md-checkbox>
      </div>
      <div style="width:100%;">
        <md-button class="md-raised md-primary" style="margin:0 auto;width:100%;background-color:#dd4b39;"
          ng-click="secureLogin()">
          <i class="fa fa-lock"></i>
          <span style="padding:0 7px">Secure Login</span>
        </md-button>
      </div>
      <div style="font-size:9px;text-align:left;width:100%;line-height:25px;">
        By Logging in you agree to our
        <span style="color:#dd4b39;">T&C</span> and <span style="color:#dd4b39;">Privacy Policy.</span>
      </div>
  </div>
  <div class="modal-container" ng-show="signup_active">
    <md-input-container class="md-block" flex-gt-sm style="margin:0;height:60px;">
      <label>Mobile Number</label>
      <input ng-model="mobileno">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm style="margin:0;" ng-if="!SignupService.otp_generated">
      <md-checkbox ng-checked="has_referral_code" ng-click="changeReferralId()" class="signup-checkbox">
       Have a Referral Code?
      </md-checkbox>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm style="margin:0;height:60px;" ng-show="has_referral_code && !SignupService.otp_generated">
      <label>Referral Code</label>
      <input ng-model="referral_code">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm style="margin:0;" ng-show="SignupService.otp_generated">
      <label>Verify OTP</label>
      <input ng-model="otp" ng-change="changeOtp()">
    </md-input-container>
    <div style="width:100%;">
      <md-button class="md-raised md-primary" style="margin:0 auto;width:100%;background-color:#dd4b39;" ng-click="secureSignUp()" ng-if="!SignupService.otp_generated">
        <i class="fa fa-lock"></i>
        <span style="padding:0 7px">Create Account</span>
      </md-button>
    </div>
    <div style="width:100%;">
      <md-button class="md-raised md-primary" style="margin:0 auto;width:100%;background-color:#dd4b39;" ng-click="verifySignUp()" ng-if="SignupService.otp_generated">
        <i class="fa fa-lock"></i>
        <span style="padding:0 7px">Verify Account</span>
      </md-button>
    </div>
    <div style="font-size:9px;text-align:left;width:100%;line-height:25px;">
      By Signing Up you agree to our
      <span style="color:#dd4b39;">T&C</span> and <span style="color:#dd4b39;">Privacy Policy.</span>
    </div>
  </div>
  <span class="modal-or-divider">OR</span>
  <div class="fblogin-btn-container">
    <md-button class="md-raised md-primary fblogin-btn"
      ng-click="fbLogin()">
      <i class="fa fa-facebook"></i>
      <span style="padding:0 7px">LOGIN WITH FACEBOOK</span>
    </md-button>
  </div>
</div> -->
