<div class="register-container">
  <div class="register-box">
    <div style="font-size:26px;color:#535766;text-align:center;font-weight:300;line-height:37px;margin-top:15px;margin-bottom:32px;">Signup with</div>
    <div style="font-size:12px;color:#535766;text-align:center;font-weight:300;line-height:14px;margin-bottom:20px;">EASILY USING</div>
    <div style="width:100%;margin-top:10px;margin-bottom:40px;height:50px;">
      <div class="register-button"><span class="register-fb-logo"></span>FACEBOOK</div>
      <div class="register-button"><span class="register-google-logo"></span>GOOGLE</div>
    </div>
    <div style="font-size:12px;color:#535766;text-align:center;font-weight:300;line-height:14px;margin-bottom:20px;">- OR USING EMAIL/MOBILENO -</div>
    <form class="register-form">
      <fieldset class="register-input-container">
        <div class="register-input-item">
          <input type="email" class="register-user-input register-user-input-email" placeholder="Your Email Address" name="email" autocomplete="off" autofocus/>
        </div>
        <div class="register-input-item">
          <input type="password" class="register-user-input register-user-input-password" placeholder="Choose Password" name="password" autocomplete="off"/>
        </div>
        <div class="register-input-item">
          <input type="text" class="register-user-input register-user-input-password" placeholder="Referral ID (Optional)" name="referral_id" autocomplete="off"/>
        </div>
        <div class="register-input-item">
          <input type="number" min="1000000000" max="9999999999" class="register-user-input register-user-input-mobileno"
          placeholder="Mobile Number (For OTP Verification)" name="mobileno" autocomplete="off"/>
        </div>
        <fieldset class="register-gender">
          <legend class="register-gender-title">I'm a</legend>
          <input type="radio" class="register-gender-radio" id="male" value="M" name="gender"/>
          <label class="register-gender-label" for="male">Male</label>
          <input type="radio" class="register-gender-radio" id="female" value="F" name="gender"/>
          <label class="register-gender-label" for="female">Female</label>
        </fieldset>
      </fieldset>
      <fieldset class="register-button-container">
        <button class="register-button-new">REGISTER</button>
      </fieldset>
      <div class="register-link-container">
        <div class="register-link">
          <span class="register-info-text">Already have an account?</span>
          <a class="register-create-account-link register-link" ui-sref="main.login">Login!</a>
        </div>
      </div>
    </form>
  </div>
</div>
